/*Universal*/
html {
  text-align: center;
  font-family: Helvetica;
}
/*Universal END*/

/*Header Styles*/
h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

#header-div {
  background-image: url("../img/flatiron_building.png");
}

li {
  list-style: none;
  margin-bottom: 10px;
  margin-right: 50px;
}

a {
  font-size: 18px;
  color: white;
  font-weight: bold;
}
/*Header END*/

/*Process Section*/
h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}
/*Process END*/

/*Designed in New York Section*/
h3.sub-section-font {
  background-image: url("../img/flatiron_building.png");
  color: white;
}
/*Designed in New York Section END*/

/*Portfolio Section*/
/*Portfolio Section END*/

/*Team Section*/
/*Team Section END*/

/*Contact Section*/
/*Contact Section END*/

/*Footer*/
#footer-div {
  background-color: dimgray;
}

li.copyright {
  font-size: 11px;
  text-align: left; /*Remember, prioritization is at work on this line; class > tag (hence, the <html> tag)*/
  color: white;
  background-color: dimgray;
}

.nav-horizontal-list {
  background-color: dimgray;
}

.nav-horizontal-list li {
  float: left;
  color: white;
  background-color: dimgray;
}

.nav-horizontal-list li a {
  display: block;
  background-color: dimgray;
}
/*Footer END*/
